# Ignore big/unnecessary stuff in Docker build contexts
.git
**/node_modules
**/dist
**/build
**/.vite
**/.cache
**/.DS_Store
**/coverage
**/*.log
**/.env*
**/.pytest_cache
**/__pycache__

# --- include data server assets in build context ---
!packages/data/nginx.conf
!packages/data/public/**
!packages/data/public/manifest/**
!packages/data/public/revocations.json